/* ---------------Background------------------- */
.huddleBG{
  background-color: hsl(257, 40%, 49%);
  background-image: url(images/bg-desktop.svg);
}
/* --------------------------------------------- */
/* -------------------Logo---------------------- */
.logo{
  width: 15%;
  margin: 50px auto auto 50px;
}
/* ------------------------------------------------ */
/* ----------------------Content------------------- */
.illustrator{
  margin: 70px auto auto 45px;
}

.register{
  margin-left: 130px;
  padding: 2% 10%;
  border-radius: 20px 20px 20px 20px;
  background-color: #fff;
  color: hsl(257, 40%, 49%);
  border:0px;
  font-size: 18px;
}
.register:hover{
  background-color: hsl(300, 69%, 71%);
  color: #fff;
  border:0px;
}
.text{
  color: #fff;
  padding: 0% 10% 2% 20%;
}
.textHeader{
  padding-top: 20%;
}
/* -------------------------------------------------- */
/* ----------------------Icons----------------------- */
.icon5{
  color: #fff;
  margin-left: 1%;
  border: 1px solid;
  border-radius: 100%;
  padding: 10px;
}
.social{
  margin-left: 85%;
}
.icon5:hover{
  color: hsl(300, 69%, 71%);
}
/* -------------------------------------------------- */

/* -----------------------Footer-------------------- */
.attribution {
  font-size: 11px;
  color: hsl(300, 69%, 71%);
}
.attribution a {
  color: #fff;
}
/* ------------------------------------------------- */


/* --------------Mobile/Tablet View------------------- */
@media (max-width: 576px){
  body{
    background-image: url(images/bg-mobile.svg);
  }
  .illustrator{
    width: 80%;
    margin: 50px auto auto 35px;
  }
  .text{
    padding: 0% 10% 1% 7%;
    text-align: center;
  }
  .textHeader{
    padding-top: 7%;
  }
  .register{
    padding: 1% 10%;
    margin-left: 100px;
  }
  .icon5{
    margin-top: 50px;
  }
  .social{
    margin-left: 30%;
  }
  .logo{
    width: 30%;
  }
}
/* -------------------------------------------------------- */
